// Colours

$primary-color: #64B6AC;
$secondary-color: #5D737E;
$accent-color: #C0FDFB;
$dark-color: #080708;
$white-color: #FCFFFD;
$grey-color: #646464;

// Box Shadow
$box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.08);

// Border Radius
$border-radius: 20px;

// Fonts
$header-base: 2rem;
